$first: white;
$second-bg: #181e28;
$third-bg: #364156;
$maincolor: #0ef;
$dark: rgb(44, 44, 44);
$text1: "Roboto";
$text2: cursive;

.con{
  box-sizing: border-box;
}

form{
  display: block;
  background-color: $first;
  box-shadow: 1px 1px 3px 2px #ddd;
  margin: 40px auto;
  max-width: 600px;
  max-height: 700px;
  padding: 20px 40px;

  >h1{
    color: $third-bg;
    >span{
      color: $maincolor;
      font-family: cursive;
    }
  }

  >button{
    height: 30px;
    width: 80px;
    align-items: center;
    border: none;
    margin-left: 15px;
    font-size: 18px;
    background-color:$third-bg;
    color: $maincolor;
    transition: 0.5s ease;
    border-radius: 4px;
  }
  >button:hover{
    background-color:$second-bg;
    color: white;
    transform: scale(1.1);
  }
}

form input,textarea{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px;
  padding: 8px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
}
